.airline-card{
    width: 350px;
    height: 70px;
    opacity: 1;
    float: left;
    margin: 10px;
    margin-left: 20px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.158);
}
.airline-card:hover{
    /* box-shadow: 0px 0px 8px dodgerblue; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.airline-name{
    width: 50%;
    height: 70px;
    padding-top: 25px;
    color: black;
    font-weight: bold;
    float: left;
}
.airline-logo{
    width: 30%;
    height: 70px;
    float: left;
    padding: 10px;
}