.aircard {
  /* flex: 0 30%; */
  display: flex;
  /* flex-wrap: wrap ; */
  /* margin-right: 35px;
  border-radius: 9px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.158); */
  text-decoration: none;
}
/* .aircard:nth-child(3n) {
  margin-right: 0;
} */
/* .aircard:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} */
/* .logo {
  padding: 10px;
} */
/* .name {
  color: black;
  font-weight: bold;
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
} */
