.city-card{
  border: 0;
  height: 350px;
  padding-right: 10px;
  padding-left: 10px;
}
.city-card img{
  height: 290px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in;
  /* background: 100% 100%; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
}
.city-card:hover img{
  transition: 0.3s all ease-out; 
  box-shadow: 0 5px 10px rgba(0,0,0,0.28);
  /* background: 110% 110%; */
}
.city-card .title-city {
  font-size: 15px;
  transition: 0.3s all ease-in;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}
.city-card:hover .title-city {
  cursor: pointer;
  padding-left: 10px;
  color: #0a56bb;
  border-left: 2px solid #FAA534;
}
