.city-card {
  width: 92%;
}
.city-card .city-image {
  height: 280px;
  border-radius: 10px;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.5s all ease-in;
}
.city-card:hover .city-image {
  transition: 0.5s all ease-out;
  background-size: 110% 110%;
  cursor: pointer;
}
.city-card .title-city {
  font-size: 15px;
  transition: 0.3s all ease-in;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}
.city-card:hover .title-city {
  cursor: pointer;
  padding-left: 10px;
  color: #0a56bb;
  border-left: 2px solid #FAA534;
}
