.company-overview {
  background-color: #e4e6e58c;
}
.company-overview .overview {
  text-transform: uppercase;
  font-size: 25px;
  color: #242a3a;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 10px;
}
.company-overview .is-text {
  width: 50%;
  height: 90px;
  border-radius: 5px;
  text-align: justify;
  font-size: 14px;
  color: #505050;
  line-height: 30px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  transition: 1s all ease-out; 
  overflow: hidden;
}
.company-overview .text {
  width: 50%;
  height: 300px;
  overflow: hidden;
  text-align: justify;
  border-radius: 5px;
  font-size: 14px;
  color: #505050;
  line-height: 30px;
  padding: 5px;
  margin: 0 auto;
  transition: 1s all ease-out;
}
.company-overview .more-less {
  background: #e4e6e50e;  
  text-align: center;
  padding-top: 4px;
  display: block;
  width: 100%;
}
.company-overview .more-less .more {
  cursor: pointer;
  background: #ffffff;
  padding: 7px 28px;
  z-index: 1;
  text-transform: capitalize;
  color: black;
  border-radius: 50px;
  border: 2px solid blue;
  box-shadow: 0px 2px 1px #c5c5c5;
  font-size: 13px;
}
.company-overview .more-less .less {
  cursor: pointer;
  background: #ffffff;
  padding: 7px 28px;
  z-index: 1;
  text-transform: capitalize;
  color: black;
  border: 2px solid blue;
  border-radius: 50px;
  box-shadow: 0px 2px 1px #c5c5c5;
  font-size: 13px;
}
.company-overview .more-less .less .less-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid blue;
  margin-right: 10px;
}
.company-overview .more-less .more .more-arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid blue;
  margin-right: 10px;
}