.faq .faq-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #242a3a;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.faq .askquestion{
    margin: 0;
    padding: 0;
}
.faq .askquestion ul{
    list-style: none;
    padding: 0;
}