.app-container {
    max-width: 1170px;
    margin: 0 auto;
  }
.faq{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.faq-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #242a3a;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.askquestion{
    margin: 0;
    padding: 0;
}
.askquestion ul{
    list-style: none;
    padding: 0;
}