.popular-city {
  width: 100%;
  justify-content: space-between;
}
.city-title {
  width: 100%;
  text-align: center;
}
.inter-domes-title{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.international {
  font-size: 15px;
  color: rgba(78, 30, 210, 0.993);
  cursor: pointer;
}
.domestic {
  font-size: 15px;
  color: rgba(78, 30, 210, 0.993);
  cursor: pointer;
}
.alice-carousel__dots {
  margin: 30px 3px 5px;
  padding: 0;
  list-style: none;
  text-align: center;
  display: none;
}
.alice-carousel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  direction: ltr;
}
.alice-carousel_wrapper{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.alice-carousel__prev-btn{
  text-align: left !important;
  left: 0;

}
.alice-carousel__next-btn {
  text-align: right !important;
  right: 0;
}
.alice-carousel__next-btn, .alice-carousel__prev-btn{
  position: absolute;
  top: 75px;
  width: auto !important;
  height: auto !important;
}
.alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after {
  font-size: 0;
  background-size: 13px;
  width: 30px;
  height: 30px;
  display: block;
  background-color: transparent;
  transition: 0.3s all ease-in;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.16);
}
.alice-carousel__prev-btn [data-area]::after {
  background: url("../assets/images/arrow.svg") no-repeat 35% 38%;
  background-color: #fff;
}
.alice-carousel__next-btn [data-area]::after{
  background: url("../assets/images/arrow1.svg") no-repeat 55% 48%;
  background-color: #fff;
}
/* .alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after {
  content: attr(data-area);
  position: relative;
  text-transform: capitalize;
} */