.city-title {
    text-transform: uppercase;
    font-size: 25px;
    color: #242A3A;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
}
.city-title small {
  color: #FAA534;
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  line-height: 18px;
  letter-spacing: 0;
}
.inter-domes-title{
  background: none;
  border: none;
  color: #404040;
  font-size: 18px;
  padding: 0;
  margin-right: 20px;
  height: 37px;
  text-align: center;
  transition: 0.3s all ease-in;
  padding-bottom: 30px;
}
.inter-domes-title.inter-domes-title .active{
border-bottom: 2px solid orange;
padding: 5px;
font-weight: bold;
cursor: pointer;
font-size: 18px;
color: #404040;
line-height: 38px;  
}
.inter-domes-title .international {
  color: #404040;
  font-size: 18px;
  cursor: pointer;
  padding-right: 15px;
}
.inter-domes-title .domestic {
  color: #404040;
  font-size: 18px;
  cursor: pointer;
  padding-left: 15px;  
}
.alice-carousel__dots {
  margin: 30px 3px 5px;
  padding: 0;
  list-style: none;
  text-align: center;
  display: none;
}
.alice-carousel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  direction: ltr;
}
.alice-carousel_wrapper{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.alice-carousel__prev-btn{
  text-align: left !important;
  left: -20px;
}
.alice-carousel__next-btn {
  text-align: right !important;
  right: -9px;
}
.alice-carousel__next-btn, .alice-carousel__prev-btn{
  position: absolute;
  top: 75px;
  width: auto !important;
  height: auto !important;
}
.alice-carousel__prev-btn [data-area]::after, .alice-carousel__next-btn [data-area]::after {
  font-size: 0;
  background-size: 13px;
  width: 30px;
  height: 30px;
  display: block;
  background-color: transparent;
  transition: 0.3s all ease-in;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.16);
}
.alice-carousel__prev-btn [data-area]::after {
  background: url("../assets/images/arrow.svg") no-repeat 35% 38%;
  background-color: #fff;
  background-size: 15px;
}
.alice-carousel__next-btn [data-area]::after{
  background: url("../assets/images/arrow1.svg") no-repeat 55% 48%;
  background-color: #fff;
  background-size: 15px;
}