.promo-card {
  flex: 0 23%;
  opacity: 1;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.205);
  cursor: pointer;  
}
.promo-card:hover{
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.promo-card .from-to{
    font-weight: bold;
    /* padding-left: 10px;
    padding-top: 10px; */
    padding: 10px;
} 
.date{
    font-size: 13px;
    padding-left: 10px ; 
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.322);
}
.discount{
    padding: 10px;
}
.discount .promo-title{
    color: #0a56bb;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding-left: 3px;
}
.discount .dis-title{
    font-size: 14px;
    padding-right: 3px;
}