.promo{
    text-align: center;
}
.title{
    text-align: center;   
}
.oneway{
    font-size: 15px;
    color: rgba(78, 30, 210, 0.993);
    cursor: pointer;
}
.active{
    border-bottom: 2px solid orange;
    padding: 5px;
    font-weight: bold;
    color: rgb(30, 114, 210);
}
.round-trip{
    font-size: 15px;
    color: rgba(78, 30, 210, 0.993);
    cursor: pointer;
}
.promotion-card{
    display: flex;
    justify-content: space-between;
}
