.notactive{
  height: 60px;
  overflow: hidden;
  opacity: 1;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  /* border: 1px solid #d7d7d7; */
  box-shadow: 0 0 6px #00000029;
  margin-bottom: 10px;
  transition: 0.3s all ease-in;
}
.isactive {
  height: 150px;
  overflow: hidden;
  opacity: 1;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 6px #00000029;
  margin-bottom: 10px;
  transition: 0.3s all ease-in;
}
.isactive .question {
  padding: 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.isactive  .answer {
  padding: 10px;
  padding-top: 0;
  text-align: justify;
  font-size: 14px;
  color: #505050;
  line-height: 28px;
}
.notactive .question{
  padding: 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
 .notactive .arrow-right {
  border: solid rgba(28, 28, 34, 0.514);
  border-width: 0 2px 2px 0;
  padding: 3px;
  float: right;
  transform: rotate(-45deg);
  margin-right: 10px;
  margin-top: 6px;
}
.isactive .arrow-down {
  border: solid rgba(28, 28, 34, 0.514);
  border-width: 0 2px 2px 0;
  padding: 3px;
  float: right;
  transform: rotate(45deg);
  margin-right: 10px;
  margin-top: 6px;
}
