.qa-card{
  opacity: 1;
  border-radius: 5px;
  background-color: white;  
  cursor: pointer; 
  border: 1px solid #D7D7D7;
  box-shadow:  0 0 6px #00000029;
  margin-bottom: 10px;
}
.question {
  padding: 10px;
  cursor: pointer;
  color: black;
}
.answer {
  padding: 10px;
  padding-top: 0;
  text-align: justify;
  font-size: 14px;
  color: #505050;
  line-height: 28px;
}
.arrow {
    border: solid rgba(0, 0, 255, 0.774);
    border-width: 0 2px 2px 0;  
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-right: 10px;
}
