.routecard {
    background: #0A56BB;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-family: "Lato",sans-serif;
}
.routecard:hover{
    background: #faa534;
    box-shadow: 0 0 14px rgba(249,165,51,0.5);
    text-shadow: 0 1px 1px rgba(0,0,0,0.16);
}
.routecard:hover .route-icon{
    background: url("../assets/images/arrow3.svg");
}
.routecard .route-icon {
    background: url("../assets/images/arrow2.svg");
    width: 15px;
    height: 12px;
    margin: 0 5px;
    display: inline-block;
}
